<!DOCTYPE html>

<html lang="en">
    <head>
        <title>BattleBit Community API</title>
        <link rel="stylesheet" href="../public/stylesheets/main.css">
        <link rel="stylesheet" href="../public/stylesheets/index.css">
    </head>
    <body>
        <div class="app">
            <div class="page-container">
                <aside class="sidebar">
                    <nav class="nav">
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Getting Started</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="../index.html">
                                            <p class="sidebar-text">Introduction</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./prerequisites.html">
                                            <p class="sidebar-text">Prerequisites</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./installation.html">
                                            <p class="sidebar-text">Installation</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./quick-start.html">
                                            <p class="sidebar-text">Quick Start</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Classes</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./player.html">
                                            <p class="sidebar-text">Player</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./game-server.html">
                                            <p class="sidebar-text">Game Server</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./server-listener.html">
                                            <p class="sidebar-text">Server Listener</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Enums</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./attachment-type.html">
                                            <p class="sidebar-text">Attachment Type</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./weapon-type.html">
                                            <p class="sidebar-text">Weapon Type</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./chat-channel.html">
                                            <p class="sidebar-text">Chat Channel</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./game-role.html">
                                            <p class="sidebar-text">Game Role</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./map-daynight.html">
                                            <p class="sidebar-text">Map Day/Night</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./map-size.html">
                                            <p class="sidebar-text">Map Size</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-spawnpoint.html">
                                            <p class="sidebar-text">Player Spawning Point</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-stand.html">
                                            <p class="sidebar-text">Player Stand</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./roles.html">
                                            <p class="sidebar-text">Roles</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./squads.html">
                                            <p class="sidebar-text">Squads</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./team.html">
                                            <p class="sidebar-text">Team</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./network-communication.html">
                                            <p class="sidebar-text">Network Communication</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Datasets</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./attachments.html">
                                            <p class="sidebar-text">Attachments</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./gadgets.html">
                                            <p class="sidebar-text">Gadgets</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./weapons.html">
                                            <p class="sidebar-text">Weapons</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Data</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./attachment.html">
                                            <p class="sidebar-text">Attachment</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./gadget.html">
                                            <p class="sidebar-text">Gadget</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./weapon.html">
                                            <p class="sidebar-text">Weapon</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-loadout.html">
                                            <p class="sidebar-text">Player Loadout</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-spawn-request.html">
                                            <p class="sidebar-text">Player Spawn Request</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-stats.html">
                                            <p class="sidebar-text">Player Stats</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-wearing.html">
                                            <p class="sidebar-text">Player Wearing</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </nav>
                </aside>
                <div class="content">
                    <div class="container">
                        <div class="doc-content">
                            <div class="doc-content-container">
                                <main class="doc-main">
                                    <h1>Game Role</h1>

                                    <p>Used in the <a href="./player.html">Player</a> class.</p>
                                    <p>Also used in OnPlayerRequestingToChangeRole and OnPlayerChangedRole event.</p>

                                    <hr>
                                    <h1>Enum Types</h1>

                                    <div class="language-enum">
                                        <pre><code><span class="class">Assault</span> <span class="operator">=</span> <span class="number">0</span></code></pre>
                                    </div>

                                    <div class="language-enum">
                                        <pre><code><span class="class">Medic</span> <span class="operator">=</span> <span class="number">1</span></code></pre>
                                    </div>

                                    <div class="language-enum">
                                        <pre><code><span class="class">Support</span> <span class="operator">=</span> <span class="number">2</span></code></pre>
                                    </div>

                                    <div class="language-enum">
                                        <pre><code><span class="class">Engineer</span> <span class="operator">=</span> <span class="number">3</span></code></pre>
                                    </div>

                                    <div class="language-enum">
                                        <pre><code><span class="class">Recon</span> <span class="operator">=</span> <span class="number">4</span></code></pre>
                                    </div>

                                    <div class="language-enum">
                                        <pre><code><span class="class">Leader</span> <span class="operator">=</span> <span class="number">5</span></code></pre>
                                    </div>
                                </main>
                                <footer class="doc-footer">
                                    <div class="prev-next">
                                        <div class="pager">
                                            <a href="./chat-channel.html" class="pager-link prev">
                                                <span class="desc">
                                                    Previous Page
                                                </span>
                                                <span class="title">
                                                    Chat Channel
                                                </span>
                                            </a>
                                        </div>
                                        <div class="pager">
                                            <a href="./map-daynight.html" class="pager-link next">
                                                <span class="desc">
                                                    Next Page
                                                </span>
                                                <span class="title">
                                                    Map Day/Night
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>