<!DOCTYPE html>

<html lang="en">
    <head>
        <title>BattleBit Community API</title>
        <link rel="stylesheet" href="../public/stylesheets/main.css">
        <link rel="stylesheet" href="../public/stylesheets/index.css">
    </head>
    <body>
        <div class="app">
            <div class="page-container">
                <aside class="sidebar">
                    <nav class="nav">
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Getting Started</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="../index.html">
                                            <p class="sidebar-text">Introduction</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./prerequisites.html">
                                            <p class="sidebar-text">Prerequisites</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./installation.html">
                                            <p class="sidebar-text">Installation</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./quick-start.html">
                                            <p class="sidebar-text">Quick Start</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Classes</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./player.html">
                                            <p class="sidebar-text">Player</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./game-server.html">
                                            <p class="sidebar-text">Game Server</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./server-listener.html">
                                            <p class="sidebar-text">Server Listener</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Enums</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./attachment-type.html">
                                            <p class="sidebar-text">Attachment Type</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./weapon-type.html">
                                            <p class="sidebar-text">Weapon Type</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./chat-channel.html">
                                            <p class="sidebar-text">Chat Channel</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./game-role.html">
                                            <p class="sidebar-text">Game Role</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./map-daynight.html">
                                            <p class="sidebar-text">Map Day/Night</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./map-size.html">
                                            <p class="sidebar-text">Map Size</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-spawnpoint.html">
                                            <p class="sidebar-text">Player Spawning Point</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-stand.html">
                                            <p class="sidebar-text">Player Stand</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./roles.html">
                                            <p class="sidebar-text">Roles</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./squads.html">
                                            <p class="sidebar-text">Squads</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./team.html">
                                            <p class="sidebar-text">Team</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./network-communication.html">
                                            <p class="sidebar-text">Network Communication</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Datasets</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./attachments.html">
                                            <p class="sidebar-text">Attachments</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./gadgets.html">
                                            <p class="sidebar-text">Gadgets</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./weapons.html">
                                            <p class="sidebar-text">Weapons</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Data</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./attachment.html">
                                            <p class="sidebar-text">Attachment</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./gadget.html">
                                            <p class="sidebar-text">Gadget</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./weapon.html">
                                            <p class="sidebar-text">Weapon</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-loadout.html">
                                            <p class="sidebar-text">Player Loadout</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-spawn-request.html">
                                            <p class="sidebar-text">Player Spawn Request</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-stats.html">
                                            <p class="sidebar-text">Player Stats</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-wearing.html">
                                            <p class="sidebar-text">Player Wearing</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </nav>
                </aside>
                <div class="content">
                    <div class="container">
                        <div class="doc-content">
                            <div class="doc-content-container">
                                <main class="doc-main">
                                    <h1>Player</h1>
                                    <p>The player class.</p>

                                    <hr>
                                    <h1>Example</h1>
                                    
                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="comment">// Program.cs</span>

<span class="keyword">class</span> <span class="class">Program</span>
<span class="delimiter">{</span>
    <span class="keyword">static</span> <span class="keyword">void</span> <span class="class">Main</span><span class="delimiter">(</span><span class="builtin">string</span><span class="delimiter">[]</span> <span>args</span><span class="delimiter">)</span>
    <span class="delimiter">{</span>
        <span class="keyword">var</span> <span>listener</span> <span class="operator">=</span> <span class="keyword">new</span> <span class="class">ServerListener</span><span class="delimiter"><</span><span class="class">MyPlayer</span><span class="delimiter">>();</span>
        <span>listener</span><span class="delimiter">.</span><span class="method">OnPlayerConnected</span> <span class="operator">+=</span> <span class="method">OnPlayerConnected</span><span class="delimiter">;</span>
        <span>listener</span><span class="delimiter">.</span><span class="function">Start</span><span class="delimiter">(</span><span class="number">29294</span><span class="delimiter">);</span>
        
        <span>Thread</span><span class="delimiter">.</span><span class="function">Sleep</span><span class="delimiter">(</span><span class="number">-1</span><span class="delimiter">);</span>
    <span class="delimiter">}</span>

    <span class="keyword">private static async Task</span> <span class="function">OnPlayerConnected</span><span class="delimiter">(</span><span class="class">MyPlayer</span> <span class="param">Player</span><span class="delimiter">)</span>
    <span class="delimiter">{</span>
        <span class="param">Player</span><span class="delimiter">.</span><span>ShavedTheirNuts</span> <span class="operator">=</span> <span class="builtin">false</span><span class="delimiter">;</span>
    <span class="delimiter">}</span>
<span class="delimiter">}</span>

<span class="keyword">class</span> <span class="class">MyPlayer</span> <span class="delimiter">:</span> <span class="class">Player</span>
<span class="delimiter">{</span>
    <span class="keyword">public</span> <span class="keyword">bool</span> <span>ShavedTheirNuts</span><span class="delimiter">;</span>
<span class="delimiter">}</span>
</span></code></pre>
                                    </div>

                                    <hr>
                                    <h1>Properties</h1>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public</span> <span class="builtin">ulong</span> <span>SteamID</span>
</code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public</span> <span class="builtin">string</span> <span>Name</span>
</code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public</span> <span class="class">GameServer</span> <span>GameServer</span>
<span class="comment">// The players <a href="./game-server.html">GameServer</a></span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public</span> <span class="class">GameRole</span> <span>Role</span>
<span class="comment">// The players <a href="./game-role.html">GameRoles</a></span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public</span> <span class="class">Team</span> <span>Team</span>
<span class="comment">// The players <a href="./team.html">Team</a></span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public</span> <span class="class">Squads</span> <span>Squad</span>
<span class="comment">// The players <a href="./squads.html">Squad</a></span></code></pre>
                                    </div>

                                    <hr>
                                    <h1>Methods</h1>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public void</span> <span class="method">Kick</span><span class="delimiter">(</span><span class="builtin">string</span> <span class="param">reason</span> <span class="operator">=</span> <span class="string">""</span><span class="delimiter">)</span>                          
</code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public void</span> <span class="method">Kill</span><span class="delimiter">()</span>                          
</code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public void</span> <span class="method">ChangeTeam</span><span class="delimiter">()</span>                          
</code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public void</span> <span class="method">KickFromSquad</span><span class="delimiter">()</span>                          
</code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public void</span> <span class="method">DisbandTheSquad</span><span class="delimiter">()</span>                          
</code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public void</span> <span class="method">PromoteToSquadLeader</span><span class="delimiter">()</span>                          
</code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public void</span> <span class="method">WarnPlayer</span><span class="delimiter">(</span><span class="builtin">string</span> <span class="param">msg</span><span class="delimiter">)</span>                          
</code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public void</span> <span class="method">Message</span><span class="delimiter">(</span><span class="builtin">string</span> <span class="param">msg</span><span class="delimiter">)</span>                          
</code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public void</span> <span class="method">SetNewRole</span><span class="delimiter">(</span><span class="class">GameRole</span> <span class="param">role</span><span class="delimiter">)</span>                          
<span class="comment">// Sets the players <a href="./game-role.html">GameRole</a></span></code></pre>
                                    </div>
                                    
                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public void</span> <span class="method">Teleport</span><span class="delimiter">(</span><span class="builtin">Vector3</span> <span class="param">target</span><span class="delimiter">)</span>                          
</code></pre>
                                    </div>

                                    <hr>
                                    <h1>Events</h1>
                                    
                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">internal virtual void</span> <span class="method">OnInitialized</span><span class="delimiter">()</span>                                
<span class="comment">// Currently does nothing</span></code></pre>
                                    </div>

                                    <hr>
                                    <h1>Overrides</h1>
                                    
                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public override</span> <span class="builtin">string</span> <span class="method">ToString</span><span class="delimiter">()</span>                                
<span class="comment">// >> PlayerName (SteamID)</span>
<span class="comment">// >> LILI (210052019510)</span></code></pre>
                                    </div>
                                    
                                </main>
                                <footer class="doc-footer">
                                    <div class="prev-next">
                                        <div class="pager">
                                            <a href="./quick-start.html" class="pager-link prev">
                                                <span class="desc">
                                                    Previous Page
                                                </span>
                                                <span class="title">
                                                    Quick Start
                                                </span>
                                            </a>
                                        </div>
                                        <div class="pager">
                                            <a href="./game-server.html" class="pager-link next">
                                                <span class="desc">
                                                    Next Page
                                                </span>
                                                <span class="title">
                                                    Game Server
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>