<!DOCTYPE html>

<html lang="en">
    <head>
        <title>BattleBit Community API</title>
        <link rel="stylesheet" href="../public/stylesheets/main.css">
        <link rel="stylesheet" href="../public/stylesheets/index.css">
    </head>
    <body>
        <div class="app">
            <div class="page-container">
                <aside class="sidebar">
                    <nav class="nav">
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Getting Started</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="../index.html">
                                            <p class="sidebar-text">Introduction</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./prerequisites.html">
                                            <p class="sidebar-text">Prerequisites</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./installation.html">
                                            <p class="sidebar-text">Installation</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./quick-start.html">
                                            <p class="sidebar-text">Quick Start</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Classes</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./player.html">
                                            <p class="sidebar-text">Player</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./game-server.html">
                                            <p class="sidebar-text">Game Server</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./server-listener.html">
                                            <p class="sidebar-text">Server Listener</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Enums</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./attachment-type.html">
                                            <p class="sidebar-text">Attachment Type</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./weapon-type.html">
                                            <p class="sidebar-text">Weapon Type</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./chat-channel.html">
                                            <p class="sidebar-text">Chat Channel</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./game-role.html">
                                            <p class="sidebar-text">Game Role</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./map-daynight.html">
                                            <p class="sidebar-text">Map Day/Night</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./map-size.html">
                                            <p class="sidebar-text">Map Size</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-spawnpoint.html">
                                            <p class="sidebar-text">Player Spawning Point</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-stand.html">
                                            <p class="sidebar-text">Player Stand</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./roles.html">
                                            <p class="sidebar-text">Roles</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./squads.html">
                                            <p class="sidebar-text">Squads</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./team.html">
                                            <p class="sidebar-text">Team</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./network-communication.html">
                                            <p class="sidebar-text">Network Communication</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Datasets</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./attachments.html">
                                            <p class="sidebar-text">Attachments</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./gadgets.html">
                                            <p class="sidebar-text">Gadgets</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./weapons.html">
                                            <p class="sidebar-text">Weapons</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Data</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./attachment.html">
                                            <p class="sidebar-text">Attachment</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./gadget.html">
                                            <p class="sidebar-text">Gadget</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./weapon.html">
                                            <p class="sidebar-text">Weapon</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-loadout.html">
                                            <p class="sidebar-text">Player Loadout</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-spawn-request.html">
                                            <p class="sidebar-text">Player Spawn Request</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-stats.html">
                                            <p class="sidebar-text">Player Stats</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-wearing.html">
                                            <p class="sidebar-text">Player Wearing</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </nav>
                </aside>
                <div class="content">
                    <div class="container">
                        <div class="doc-content">
                            <div class="doc-content-container">
                                <main class="doc-main">
                                    <h1>Server Listener</h1>
                                    <p>The server listener class.</p>

                                    <hr>
                                    <h1>Example</h1>
                                    
                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">using</span> <span>BattleBitAPI</span><span class="delimiter">;</span>
<span class="keyword">using</span> <span>BattleBitAPI</span><span class="delimiter">.</span><span>Common</span><span class="delimiter">;</span>
<span class="keyword">using</span> <span>BattleBitAPI</span><span class="delimiter">.</span><span>Common</span><span class="delimiter">.</span><span>Enums</span><span class="delimiter">;</span>
<span class="keyword">using</span> <span>BattleBitAPI</span><span class="delimiter">.</span><span>Server</span><span class="delimiter">;</span>
<span class="keyword">using</span> <span>System</span><span class="delimiter">.</span><span>Numerics</span><span class="delimiter">;</span>

<span class="keyword">class</span> <span class="class">Program</span>
<span class="delimiter">{</span>
    <span class="keyword">static</span> <span class="keyword">void</span> <span class="class">Main</span><span class="delimiter">(</span><span class="builtin">string</span><span class="delimiter">[]</span> <span>args</span><span class="delimiter">)</span>
    <span class="delimiter">{</span>
        <span class="keyword">var</span> <span>listener</span> <span class="operator">=</span> <span class="keyword">new</span> <span class="class">ServerListener</span><span class="delimiter"><</span><span class="class">MyPlayer</span><span class="delimiter">>();</span>
        <span>listener</span><span class="delimiter">.</span><span class="method">OnGetPlayerStats</span> <span class="operator">+=</span> <span class="method">OnGetPlayerStats</span><span class="delimiter">;</span>
        <span>listener</span><span class="delimiter">.</span><span class="function">Start</span><span class="delimiter">(</span><span class="number">29294</span><span class="delimiter">);</span>
        
        <span>Thread</span><span class="delimiter">.</span><span class="function">Sleep</span><span class="delimiter">(</span><span class="number">-1</span><span class="delimiter">);</span>
    <span class="delimiter">}</span>

    <span class="keyword">private</span> <span class="keyword">static</span> <span class="keyword">async</span> <span class="keyword">Task</span><span class="delimiter"><</span><span class="class">PlayerStats</span><span class="delimiter">></span> <span class="function">OnGetPlayerStats</span><span class="delimiter">(</span><span class="builtin">ulong</span> <span class="param">SteamID</span><span class="delimiter">,</span> <span class="class">PlayerStats</span> <span class="param">Stats</span><span class="delimiter">)</span>
    <span class="delimiter">{</span>
        <span class="keyword">return</span> <span class="param">Stats</span><span class="delimiter">;</span>
    <span class="delimiter">}</span>
<span class="delimiter">}</span>

<span class="keyword">class</span> <span class="class">MyPlayer</span> <span class="delimiter">:</span> <span class="class">Player</span>
<span class="delimiter">{</span>
    
<span class="delimiter">}</span>
</span></code></pre>
                                    </div>

                                    <hr>
                                    <h1>Properties</h1>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public</span> <span class="builtin">bool</span> <span>IsListening</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public</span> <span class="builtin">bool</span> <span>IsDisposed</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                    <pre><code><span class="keyword">public</span> <span class="builtin">int</span> <span>ListeningPort</span></code></pre>
                                    </div>

                                    <hr>
                                    <h1>Methods</h1>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public void</span> <span class="method">Start</span><span class="delimiter">(</span><span class="class">IPAddress</span> <span class="param">bindIP</span><span class="delimiter">,</span> <span class="builtin">int</span> <span class="param">port</span><span class="delimiter">)</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public void</span> <span class="method">Start</span><span class="delimiter">(</span><span class="builtin">int</span> <span class="param">port</span><span class="delimiter">)</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public void</span> <span class="method">Stop</span><span class="delimiter">()</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public void</span> <span class="method">Dispose</span><span class="delimiter">()</span></code></pre>
                                    </div>

                                    <hr>
                                    <h1>Events</h1>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">GameServer</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter">></span> <span class="method">OnGameServerConnected</span>
                                                  
<span class="comment">// GameServer - The <a href="./game-server.html">Game Server</a> connecting</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">GameServer</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter">></span> <span class="method">OnGameServerReconnected</span>
                                            
<span class="comment">// GameServer - The <a href="./game-server.html">Game Server</a> reconnecting</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">GameServer</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter">></span> <span class="method">OnGameServerDisconnected</span>
                                            
<span class="comment">// GameServer - The <a href="./game-server.html">Game Server</a> disconnecting</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">TPlayer</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter">></span> <span class="method">OnPlayerConnected</span>
                                        
<span class="comment">// TPlayer - The player connecting</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">TPlayer</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter">></span> <span class="method">OnPlayerDisconnected</span>
                                        
<span class="comment">// TPlayer - The player disconnecting</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">TPlayer</span><span class="delimiter">,</span> <span class="class">ChatChannel</span><span class="delimiter">,</span> <span class="builtin">string</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter">></span> <span class="method">OnPlayerTypedMessage</span>
                                        
<span class="comment">// TPlayer - The player who sent the message</span>
<span class="comment">// ChatChannel - The <a href="./chat-channel.html">Channel</a> the message was sent to</span>
<span class="comment">// string - The message</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">TPlayer</span><span class="delimiter">,</span> <span class="builtin">Vector3</span><span class="delimiter">,</span> <span class="class">TPlayer</span><span class="delimiter">,</span> <span class="builtin">Vector3</span><span class="delimiter">,</span> <span class="builtin">string</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter">></span> <span class="method">OnAPlayerKilledAnotherPlayer</span>
                                        
<span class="comment">// TPlayer - The killer</span>
<span class="comment">// Vector3 - The killer's position</span>
<span class="comment">// TPlayer - The victim</span>
<span class="comment">// Vector3 - The victim's position</span>
<span class="comment">// string - The tool used to kill the player</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="builtin">ulong</span><span class="delimiter">,</span> <span class="class">PlayerStats</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter"><</span><span class="class">PlayerStats</span><span class="delimiter">></span><span class="delimiter">></span> <span class="method">OnGetPlayerStats</span>
                                        
<span class="comment">// ulong - The player's Steam ID</span>
<span class="comment">// PlayerStats - The official <a href="./player-stats.html">Stats</a> of the player</span>

<span class="comment">// Return: The player's stats</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="builtin">ulong</span><span class="delimiter">,</span> <span class="class">PlayerStats</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter">></span> <span class="method">OnSavePlayerStats</span>
                                        
<span class="comment">// ulong - The player's Steam ID</span>
<span class="comment">// PlayerStats - The <a href="./player-stats.html">Stats</a> to save</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">TPlayer</span><span class="delimiter">,</span> <span class="class">GameRole</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter"><</span><span class="builtin">bool</span><span class="delimiter">></span><span class="delimiter">></span> <span class="method">OnPlayerRequestingToChangeRole</span>
                                        
<span class="comment">// TPlayer - Player who's requesting to change role</span>
<span class="comment">// GameRole - The <a href="./roles.html">Role</a> the player is requesting</span>

<span class="comment">// Return: If the player can change roles</span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">Tplayer</span><span class="delimiter">,</span> <span class="class">GameRole</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter">></span> <span class="method">OnPlayerChangedRole</span>
                                        
<span class="comment">// TPlayer - Player who changed their role</span>
<span class="comment">// GameRole - The players new <a href="./roles.html">Role</a></span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">Tplayer</span><span class="delimiter">,</span> <span class="class">Squads</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter">></span> <span class="method">OnPlayerJoinedASquad</span>
                                        
<span class="comment">// TPlayer - Player who joined the squad</span>
<span class="comment">// Squads - The players new <a href="./squads.html">Squad</a></span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">Tplayer</span><span class="delimiter">,</span> <span class="class">Squads</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter">></span> <span class="method">OnPlayerLeftSquad</span>
                                        
<span class="comment">// TPlayer - Player who left the squad</span>
<span class="comment">// Squads - The players old <a href="./squads.html">Squad</a></span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">Tplayer</span><span class="delimiter">,</span> <span class="class">Team</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter">></span> <span class="method">OnPlayerChangedTeam</span>
                                        
<span class="comment">// TPlayer - Player who changed team</span>
<span class="comment">// Team - The players new <a href="./team.html">Team</a></span></code></pre>
                                    </div>

                                    <div class="language-csharp">
                                        <span class="lang">C#</span>
                                        <pre><code><span class="keyword">public</span> <span class="method">Func</span><span class="delimiter"><</span><span class="class">TPlayer</span><span class="delimiter">,</span> <span class="class">PlayerSpawnRequest</span><span class="delimiter">,</span> <span class="class">Task</span><span class="delimiter"><</span><span class="class">PlayerSpawnRequest</span><span class="delimiter">></span><span class="delimiter">></span> <span class="method">OnPlayerSpawning</span>
                                        
<span class="comment">// TPlayer - Player requesting to spawn</span>
<span class="comment">// PlayerSpawnRequest - The <a href="./player-spawn-request.html">Spawn Request</a></span>

<span class="comment">// Return: The updated spawn request</span></code></pre>
                                    </div>
                                </main>
                                <footer class="doc-footer">
                                    <div class="prev-next">
                                        <div class="pager">
                                            <a href="./game-server.html" class="pager-link prev">
                                                <span class="desc">
                                                    Previous Page
                                                </span>
                                                <span class="title">
                                                    Game Server
                                                </span>
                                            </a>
                                        </div>
                                        <div class="pager">
                                            <a href="./attachment-type.html" class="pager-link next">
                                                <span class="desc">
                                                    Next Page
                                                </span>
                                                <span class="title">
                                                    Attachment Type
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>