<!DOCTYPE html>

<html lang="en">
    <head>
        <title>BattleBit Community API</title>
        <link rel="stylesheet" href="../public/stylesheets/main.css">
        <link rel="stylesheet" href="../public/stylesheets/index.css">
    </head>
    <body>
        <div class="app">
            <div class="page-container">
                <aside class="sidebar">
                    <nav class="nav">
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Getting Started</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="../index.html">
                                            <p class="sidebar-text">Introduction</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./prerequisites.html">
                                            <p class="sidebar-text">Prerequisites</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./installation.html">
                                            <p class="sidebar-text">Installation</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./quick-start.html">
                                            <p class="sidebar-text">Quick Start</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Classes</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./player.html">
                                            <p class="sidebar-text">Player</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./game-server.html">
                                            <p class="sidebar-text">Game Server</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./server-listener.html">
                                            <p class="sidebar-text">Server Listener</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Enums</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./attachment-type.html">
                                            <p class="sidebar-text">Attachment Type</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./weapon-type.html">
                                            <p class="sidebar-text">Weapon Type</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./chat-channel.html">
                                            <p class="sidebar-text">Chat Channel</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./game-role.html">
                                            <p class="sidebar-text">Game Role</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./map-daynight.html">
                                            <p class="sidebar-text">Map Day/Night</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./map-size.html">
                                            <p class="sidebar-text">Map Size</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-spawnpoint.html">
                                            <p class="sidebar-text">Player Spawning Point</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-stand.html">
                                            <p class="sidebar-text">Player Stand</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./roles.html">
                                            <p class="sidebar-text">Roles</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./squads.html">
                                            <p class="sidebar-text">Squads</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./team.html">
                                            <p class="sidebar-text">Team</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./network-communication.html">
                                            <p class="sidebar-text">Network Communication</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Datasets</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./attachments.html">
                                            <p class="sidebar-text">Attachments</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./gadgets.html">
                                            <p class="sidebar-text">Gadgets</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./weapons.html">
                                            <p class="sidebar-text">Weapons</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="group">
                            <section class="sidebar-item">
                                <div class="item">
                                    <h2 class="item-header">Data</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <a class="sidebar-link" href="./attachment.html">
                                            <p class="sidebar-text">Attachment</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./gadget.html">
                                            <p class="sidebar-text">Gadget</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./weapon.html">
                                            <p class="sidebar-text">Weapon</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-loadout.html">
                                            <p class="sidebar-text">Player Loadout</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-spawn-request.html">
                                            <p class="sidebar-text">Player Spawn Request</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-stats.html">
                                            <p class="sidebar-text">Player Stats</p>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a class="sidebar-link" href="./player-wearing.html">
                                            <p class="sidebar-text">Player Wearing</p>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </nav>
                </aside>
                <div class="content">
                    <div class="container">
                        <div class="doc-content">
                            <div class="doc-content-container">
                                <main class="doc-main">
                                    <h1>Squads</h1>

                                    <p>Used in the <a href="./player.html">Player</a> and <a href="./server-listener.html">Server Listener</a> class.</p>

                                    <hr>
                                    <h1>Enum Types</h1>

                                    <div class="language-enum">
                                        <pre><code><span class="class">NoSquad</span> <span class="operator">=</span> <span class="number">0</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Alpha</span> <span class="operator">=</span> <span class="number">1</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Bravo</span> <span class="operator">=</span> <span class="number">2</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Charlie</span> <span class="operator">=</span> <span class="number">3</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Delta</span> <span class="operator">=</span> <span class="number">4</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Echo</span> <span class="operator">=</span> <span class="number">5</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Foxtrot</span> <span class="operator">=</span> <span class="number">6</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Golf</span> <span class="operator">=</span> <span class="number">7</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Hotel</span> <span class="operator">=</span> <span class="number">8</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">India</span> <span class="operator">=</span> <span class="number">9</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Juliett</span> <span class="operator">=</span> <span class="number">10</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Kilo</span> <span class="operator">=</span> <span class="number">11</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Lima</span> <span class="operator">=</span> <span class="number">12</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Mike</span> <span class="operator">=</span> <span class="number">13</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">November</span> <span class="operator">=</span> <span class="number">14</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Oscar</span> <span class="operator">=</span> <span class="number">15</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Papa</span> <span class="operator">=</span> <span class="number">16</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Quebec</span> <span class="operator">=</span> <span class="number">17</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Romeo</span> <span class="operator">=</span> <span class="number">18</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Sierra</span> <span class="operator">=</span> <span class="number">19</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Tango</span> <span class="operator">=</span> <span class="number">20</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Uniform</span> <span class="operator">=</span> <span class="number">21</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Whiskey</span> <span class="operator">=</span> <span class="number">22</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Xray</span> <span class="operator">=</span> <span class="number">23</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Yankee</span> <span class="operator">=</span> <span class="number">24</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Zulu</span> <span class="operator">=</span> <span class="number">25</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Ash</span> <span class="operator">=</span> <span class="number">26</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Baker</span> <span class="operator">=</span> <span class="number">27</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Cast</span> <span class="operator">=</span> <span class="number">28</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Diver</span> <span class="operator">=</span> <span class="number">29</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Eagle</span> <span class="operator">=</span> <span class="number">30</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Fisher</span> <span class="operator">=</span> <span class="number">31</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">George</span> <span class="operator">=</span> <span class="number">32</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Hanover</span> <span class="operator">=</span> <span class="number">33</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Ice</span> <span class="operator">=</span> <span class="number">34</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Jake</span> <span class="operator">=</span> <span class="number">35</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">King</span> <span class="operator">=</span> <span class="number">36</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Lash</span> <span class="operator">=</span> <span class="number">37</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Mule</span> <span class="operator">=</span> <span class="number">38</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Neptune</span> <span class="operator">=</span> <span class="number">39</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Ostend</span> <span class="operator">=</span> <span class="number">40</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Page</span> <span class="operator">=</span> <span class="number">41</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Quail</span> <span class="operator">=</span> <span class="number">42</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Raft</span> <span class="operator">=</span> <span class="number">43</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Scout</span> <span class="operator">=</span> <span class="number">44</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Tare</span> <span class="operator">=</span> <span class="number">45</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Unit</span> <span class="operator">=</span> <span class="number">46</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">William</span> <span class="operator">=</span> <span class="number">47</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Xaintrie</span> <span class="operator">=</span> <span class="number">48</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Yoke</span> <span class="operator">=</span> <span class="number">49</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Zebra</span> <span class="operator">=</span> <span class="number">50</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Ace</span> <span class="operator">=</span> <span class="number">51</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Beer</span> <span class="operator">=</span> <span class="number">52</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Cast2</span> <span class="operator">=</span> <span class="number">53</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Duff</span> <span class="operator">=</span> <span class="number">54</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Edward</span> <span class="operator">=</span> <span class="number">55</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Freddy</span> <span class="operator">=</span> <span class="number">56</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Gustav</span> <span class="operator">=</span> <span class="number">57</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Henry</span> <span class="operator">=</span> <span class="number">58</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Ivar</span> <span class="operator">=</span> <span class="number">59</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Jazz</span> <span class="operator">=</span> <span class="number">60</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Key</span> <span class="operator">=</span> <span class="number">61</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Lincoln</span> <span class="operator">=</span> <span class="number">62</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Mary</span> <span class="operator">=</span> <span class="number">63</span></code></pre>
                                    </div>
                                    <div class="language-enum">
                                        <pre><code><span class="class">Nora</span> <span class="operator">=</span> <span class="number">64</span></code></pre>
                                    </div>
                                    
                                </main>
                                <footer class="doc-footer">
                                    <div class="prev-next">
                                        <div class="pager">
                                            <a href="./roles.html" class="pager-link prev">
                                                <span class="desc">
                                                    Previous Page
                                                </span>
                                                <span class="title">
                                                    Roles
                                                </span>
                                            </a>
                                        </div>
                                        <div class="pager">
                                            <a href="./team.html" class="pager-link next">
                                                <span class="desc">
                                                    Next Page
                                                </span>
                                                <span class="title">
                                                    Team
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>